body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: var(--default-font-size);
  color: var(--color-blue-dark-3);
}


.heading-primary {
  font-family: 'Teko', sans-serif;
  font-size: 6rem;
  line-height: .9;
  letter-spacing: .2rem;
  color: white;
  text-transform: uppercase;
}