:root {
  --default-font-size: 1.6rem;

  --color-blue-light-1: #c7eeff;
  --color-blue-light-2: #e1f6ff;
  --color-blue-1: #68d5fd;
  --color-blue-2: #4fcefc;
  --color-blue-dark-1: #2e5462;
  --color-blue-dark-2: #6c8793;

  --color-grey-light: #ebeeef;
  --color-grey-dark: #c0cace;

  --color-violet-light: #c6cbfe;

  // #75a5ba #c7eeff #ffffff #c4cfd4 #98abb3 #6c8793, #99bfcf
}