@use '../abstracts/mixins' as m;

.remaining-ships {
  width: auto;
  display: flex;
  flex-direction: column-reverse;
  padding-top: 12rem;
  gap: .7rem;
  align-self: center;
  
  &--player {
    align-items: flex-end;
    @include m.respond(phone) {
      grid-column: 4 / 5;
      align-items: flex-start;
    }
  }

  &--computer {
    align-items: flex-start;
    @include m.respond(phone) {
      align-items: flex-end;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }

  @include m.respond(phone) {
    width: 30rem;
  }
}